* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Baloo 2", cursive;
    background-color: #F8F4E8;
    color: #333;
}


/* PORTADA */

.portada {
    height: 100vh;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}


.portada img {
    width:100%;
    height:100%;
    object-fit:cover;
}


.portada::after {
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
}


.contenido-portada {
    position:absolute;
    z-index:1;
    text-align:center;
}



/* TITULO */

h1 {

    font-family:"Cormorant Garamond", serif;

    font-size:110px;

    color:white;

    letter-spacing:8px;

    -webkit-text-stroke:4px #7b1e3a;

    text-shadow:5px 5px 10px black;
}



/* FRASE */

.frase {

    font-size:34px;

    color:#F5D6C6;

    margin:25px 0;

}



/* ESTUDIANTE */

.estudiante {

    font-size:28px;

    color:white;

    font-weight:bold;

}



/* SECCIONES */

.presentacion,
.sinopsis,
.recomendacion {

    width:90%;

    max-width:850px;

    margin:60px auto;

    padding:35px;

    text-align:center;

    background:#fff8e7;

    border-radius:25px;

}



/* TITULOS */

h2 {

    color:#7b1e3a;

    font-size:42px;

    margin-bottom:25px;

}



/* TEXTO */

p {

    font-size:22px;

    line-height:1.8;

}



/* NOMBRE */

h3 {

    color:#7b1e3a;

    font-size:32px;

}



/* AUDIO */

audio {

    width:90%;

}



/* VIDEO */

iframe {

    width:100%;

    max-width:700px;

    aspect-ratio:16/9;

    border-radius:15px;

}



/* FRASE FINAL GRANDE */

.frase-final {

    font-family:"Cormorant Garamond", serif;

    font-size:110px !important;

    font-weight:bold;

    color:white;

    -webkit-text-stroke:4px #7b1e3a;

    text-shadow:5px 5px 12px black;

    line-height:1;

}



/* CELULAR */

@media(max-width:600px){

    h1 {
        font-size:75px;
    }


    .frase-final {

        font-size:75px !important;

    }

}
