* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baloo 2", cursive;
    background-color: #F8F4E8;
    color: #333333;
}


/* PORTADA */

.portada {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portada::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.contenido-portada {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
}


/* TITULO MATILDA */

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 110px;
    letter-spacing: 8px;
    color: white;

    -webkit-text-stroke: 3px #7b1e3a;

    text-shadow:
        4px 4px 8px black;
}


/* FRASE PORTADA */

.frase {
    font-size: 34px;
    color: #F5D6C6;
    margin: 25px 0;
    font-style: italic;

    text-shadow:
        3px 3px 6px black;
}


/* ESTUDIANTE */

.estudiante {
    font-size: 26px;
    color: white;
    font-weight: bold;

    text-shadow:
        3px 3px 6px black;
}


/* CAJAS DE CONTENIDO */

.presentacion,
.sinopsis,
.recomendacion {

    width: 90%;
    max-width: 850px;
    margin: 60px auto;
    padding: 35px;

    text-align: center;

    background-color: #fff8e7;

    border-radius: 25px;

    box-shadow:
        0 8px 20px rgba(0,0,0,0.15);
}


/* TITULOS DE SECCION */

.presentacion h2,
.sinopsis h2,
.recomendacion h2 {

    color: #7b1e3a;

    font-size: 40px;

    margin-bottom: 25px;

    font-weight: 800;
}


/* TEXTOS */

.presentacion p,
.sinopsis p,
.recomendacion p {

    font-size: 22px;

    line-height: 1.8;

    margin-bottom: 25px;
}


/* NOMBRE ESTUDIANTE */

.presentacion h3 {

    color: #7b1e3a;

    font-size: 32px;
}


/* AUDIOS */

audio {

    width: 90%;

    max-width: 500px;

    margin: 15px auto;
}


/* VIDEOS */

.recomendacion iframe {

    width: 100%;

    max-width: 700px;

    aspect-ratio: 16 / 9;

    border: none;

    border-radius: 15px;

    margin: 20px auto 0;

    display: block;
}


/* FRASE FINAL */

.frase-final {

    font-family: "Cormorant Garamond", serif;

    font-size: 65px;

    font-weight: bold;

    color: white;

    -webkit-text-stroke: 2px #7b1e3a;

    text-shadow:
        4px 4px 8px black;

    margin-top: 40px;
}


/* AJUSTE PARA CELULAR */

@media (max-width:600px){

    h1 {
        font-size: 75px;
    }


    .frase {
        font-size: 25px;
    }


    .estudiante {
        font-size: 21px;
    }


    .presentacion h2,
    .sinopsis h2,
    .recomendacion h2 {

        font-size: 32px;
    }


    .presentacion p,
    .sinopsis p,
    .recomendacion p {

        font-size: 18px;
    }


    .frase-final {

        font-size: 45px;

    }

}
